*{
    font-family: var(--font-font);
}

.circular_loader_container{
    width: 25px;
    height: 25px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}
.circular_loader{
    position: absolute;
    width: 100%;
    bottom: 0;
}